
  div#introducción{
      color: #0C0F0C;
      font-size:23px;
  }
 
  div#imagen{
      float:right;
      width:600px;
      height:600px;

 div#reciclaje{
     color: #0C0F0C;
      font-size:30px;   
  }
 
  div#reducir{
     float:right;
     width:1040px;
     heigth:680px;
  }

  div#img{
     float:right;
      width:500px;
      height:600px:
     
  }
  